<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <img>
    <h1 align="center"> <%= title %> Deal ID <%= dealid %> </h1>
   <img src="/images/elsabor.png" align="middle" />
  </body>
</html>
